.md-people-picker li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.md-people-picker li:last-child {
  border-bottom-width: 0;
}
.md-people-picker .item-title,
.md-people-picker .item-person-title
.md-people-picker .item-person-email {
  display: block;
  line-height: 2;
}