@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.eot');
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans-Regular.eot') format('embedded-opentype'), url('fonts/opensans-regular.woff') format('woff');
}

.app {
    font: 14px "Open Sans";
    line-height: 1.22;
    height: 100vh;
    display: flex;
    padding: 10px;
}

/* Angular Loading Bar */
#loading-bar .bar {
    position: top;
    background: rebeccapurple;
}