@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.eot');
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans-Regular.eot') format('embedded-opentype'), url('fonts/opensans-regular.woff') format('woff');
}

/* Angular Loading Bar */
#loading-bar .bar {
    position: top;
    background: #666666;
}

.app {
    font: 14px "Open Sans";
    line-height: 1.22;
    height: 100vh;
    display: flex;
}

.app-content-toolbar {
    /* Add styles here */
}

.main-toolbar {
    padding: 0;
    margin: 0 24px;
    width: auto;
}